{% extends 'base.html' %}
{%block content %}
<div id="carouselExample" class="carousel slide">
    <h2> List of Banner</h2>
    <a class="btn btn-primary" href="{% url 'banner_add' %}" style="background: #c84646;">Add</a>
    <table class="table caption-top">
       
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for banner in banner %}
          <tr>

            <th scope="row">{{forloop.counter}}</th>
            <td>{{banner.title}}</td>
            <td><img src="{{banner.image.url}}" style="width: 40px;"/></td>
            <td>
                <a class="btn btn-info" href="{% url 'banner_view' banner.pk %}">View</a>
                <a class="btn btn-warning" href="{% url 'banner_edit' banner.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'banner_delete' banner.pk %}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

  {% endblock%}